
{% macro title(text) %}
    <text:h text:style-name="el_title">{{ text }}</text:h>
{% endmacro %}

{% macro subject(text) %}
<text:h text:outline-level="1" text:style-name="el_heading">
    <text:span>{{ text }}</text:span>
</text:h>
{% endmacro %}