
{% macro title(text) %}
    <text:p text:style-name="el_title">{{ text }}</text:p>
{% endmacro %}

{% macro subject(text) %}
<text:p text:outline-level="1" text:style-name="el_heading">
    <text:span>{{ text }}</text:span>
</text:p>
{% endmacro %}

{% macro fullNames(recipient) %}
    {% if recipient.recipientType == 'company' %}
    {{ recipient.companyName }}
    {% else %}
    {{ recipient.individuals|join_and('firstName', 'surname') }}
     {% endif %}
{% endmacro %}


