<text:p text:style-name="el_heading">Customer Due Diligence</text:p>
<text:p text:style-name="para">
We are a reporting entity for the purposes of the Anti-Money Laundering and Countering Financing of Terrorism Act 2009 (<text:span text:style-name="bold">AMLCFT Act</text:span>). We have appointed First AML as our authorised agent to complete simplified, standard, or enhanced customer due diligence (<text:span text:style-name="bold">CDD</text:span>) as required by the AMLCFT Act.  Please see our standard terms for further details about CDD and First AML.
</text:p>
<text:p text:style-name="para">
First AML will contact you directly to conduct CDD.  Please provide all the information requested by First AML.  If CDD cannot be completed, we may not be able to act for you.  The CDD expense for an individual is $50.  The CDD expense for a company, trust, or other entity is $200.  This fee may be charged more than once depending on our obligations under the AMLCFT Act.
</text:p>

