<text:p text:style-name="el_heading">Customer Due Diligence</text:p>
<text:p text:style-name="para">
    As a reporting entity, we need to complete customer diligence (<text:span text:style-name="bold">CDD</text:span>) in accordance with the Anti-Money Laundering and Countering Financing of Terrorism Act 2009 (<text:span text:style-name="bold">AML/CFT Act</text:span>).
</text:p>
<text:p text:style-name="para">
    The AML/CFT Act requires us to collect and verify the information required for CDD purposes before commencing a business relationship with a new client.
</text:p>

<text:p text:style-name="el_subheading">CDD Targets</text:p>
<text:p text:style-name="para">
    We must complete CDD on the client(s) named in this letter of engagement, the beneficial owners of the client(s) (if any), and the people who act on behalf of the client(s) (if any) (<text:span text:style-name="bold">CDD Targets</text:span>).
</text:p>
<text:p text:style-name="para">
    The CDD Targets will include any individual who has effective control of, or who owns more than 25% of, a client or person on whose behalf a transaction is conducted.  In the case of a company, the CDD Targets will include all directors and holders of more than 25% of the shares.
</text:p>
<text:p text:style-name="para">
    As set out in our standard terms of engagement, we will charge a fee of $30 for every on whom we are required to complete CDD under the AML/CFT Act.
</text:p>

<text:p text:style-name="el_subheading">Standard and Enhanced CDD</text:p>
<text:p text:style-name="para">
    Standard CDD involves collecting and verifying the following information about all CDD Targets:
</text:p>
<text:list text:style-name="el_numbered_list" text:continue-numbering="false">
    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
            The person's full name.
        </text:p>
    </text:list-item>
    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
            The person's date of birth.
        </text:p>
    </text:list-item>
    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
            If the person is not the client, the person's relationship to the client.
        </text:p>
    </text:list-item>
    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
            The person's address or registered office.
        </text:p>
    </text:list-item>
    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
            The person's company identifier or registration number.
        </text:p>
    </text:list-item>
    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
            Any information prescribed by regulations made under the AML/CFT Act.
        </text:p>
    </text:list-item>
</text:list>
<text:p text:style-name="para">
    In some cases, we will be required to complete <text:span text:style-name="italic">enhanced</text:span> CDD.  This involves collecting additional information about CDD Targets in the circumstances prescribed by the AML/CFT Act.  One such circumstance is where we are required to act for a trust or other vehicle for holding personal assets.
</text:p>

<text:p text:style-name="el_subheading">Provision of CDD Information</text:p>

<text:p text:style-name="para">
    To help us comply with that obligation and start work on your matter, we need the client(s) named in this letter, as well as any other CDD Targets, to provide us with: </text:p>

<text:list text:style-name="el_numbered_list" text:continue-numbering="false">
    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
            <text:span text:style-name="italic">Individual Identity:</text:span> in the case of CDD Target that is a natural person, either:
        </text:p>
        <text:list text:style-name="el_numbered_list" text:continue-numbering="false">
            <text:list-item>
                <text:p text:style-name="el_list_paragraph">
                    a colour copy of a valid New Zealand passport;
                </text:p>
            </text:list-item>
            <text:list-item>
                <text:p text:style-name="el_list_paragraph">
                    a colour copy of a valid New Zealand driver’s licence (front and back), together with either a full New Zealand birth certificate or a bank statement issued to you by a registered bank in the last 12 months; or
                </text:p>
            </text:list-item>
            <text:list-item>
                <text:p text:style-name="el_list_paragraph">
                    if you do not have the documents set out in (a) or (b) above, alternative documents that satisfy the criteria set out in the <text:span text:style-name="italic">Amended Identity Verification Code of Practice 2013</text:span> published under the AML/CFT Act.  Please contact us if you need to provide these alternative forms of verification;
                </text:p>
            </text:list-item>
        </text:list>
    </text:list-item>
    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
            <text:span text:style-name="italic">Company Identity:</text:span> in the case of a CDD Target that is a company, a recent company extract provided by the New Zealand Companies Office, together with a statement from a director of the company that the details recorded on the extract are true and correct as at the date the statement is given;
        </text:p>
    </text:list-item>
    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
            <text:span text:style-name="italic">Individual Address:</text:span> in the case of an individual CDD Target, a copy of a recent bank statement, utilities bill, IRD document, or Companies Office filing showing your current residential address; and
        </text:p>
    </text:list-item>
    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
            <text:span text:style-name="italic">Vehicle for Holding Personal Assets:</text:span> if we are acting on behalf of a vehicle for holding personal assets such as a trust or look-through company, information relating to the source of the funds or the wealth of the client.  The nature of the information we require will vary depending on the vehicle or transaction.  However, we will usually require the source of the client’s fund or wealth to be identified, described, and, in some cases, supported by documentary evidence.
        </text:p>
        <text:p text:style-name="para">If the relevant vehicle is a trust, we will also need information about the beneficiaries of the trust.  In most cases, this information can be provided via the trust deed.</text:p>
        <text:p text:style-name="para">The information in 4 above is required as part of enhanced CDD under the AML/CFT Act.</text:p>
    </text:list-item>
</text:list>

<text:p text:style-name="el_subheading">Verification of Identity Documents</text:p>

<text:p text:style-name="para">
    The photo identity documents we have requested in (1) above will need to be verified before we can complete your instructions in the matter.  </text:p>

<text:p text:style-name="para">We can verify the documents ourselves by personally sighting the originals during a meeting with the relevant CDD Target.  Provided your matter will involve such a meeting, we will be happy to initially act on uncertified copies of your photo identification and delay the verification step until the meeting.   </text:p>
<text:p text:style-name="para">If, however, we cannot meet with you or another CDD Target, we will need to obtain <text:span text:style-name="italic">certified</text:span> copies of the identity verification document(s).</text:p>
<text:p text:style-name="para">The certification can be provided by any trusted referee, which includes a solicitor, Justice of the Peace, and any other person empowered to take oaths and declarations in New Zealand.  The certification can also be provided by any other trusted referee in accordance with the <text:span text:style-name="italic">Amended Identity Verification Code of Practice 2013</text:span>.  Please contact us if you require more information about alternative trusted referees. </text:p>