<text:p text:style-name="para">
    We provide the above table by way of indication only.  The actual fee charged for any stated attendance may be more or less than the given estimate. </text:p>

<text:p text:style-name="el_subheading">Disbursements and Expenses</text:p>
<text:p text:style-name="para">
    Disbursements and expenses for a property purchase typically include Land Information New Zealand registration charges, for example the $80 charge to register a transfer of title or a new mortgage, Landonline search charges, which are $5 for each title or instrument searched, our general office fee of $50, and a file storage fee of $25.  These amounts include GST.  Additional disbursements may be charged depending on the requirements of your matter.</text:p>


{% if includeAMLCFT %}
    {% include 'partials/conveyancing/amlctf.njk' %}

{% endif %}


<text:p text:style-name="el_heading">Disclosure of Interests</text:p>

<text:p text:style-name="para">
    {% if disclosure %}{{ disclosure }}. However, we {% else %}We {% endif %} do not believe there is any conflict of interest that would prohibit us from acting for {% if recipient.recipientType == 'company' %}the Company{% else %}you{% endif %} in this matter.
</text:p>

<text:p text:style-name="para">
    If you have any queries about our engagement, please contact us.
</text:p>