<text:p text:outline-level="1" text:style-name="el_heading">
    Letter of Engagement - {{ matter.matterName }} (“the Property”)
</text:p>

<text:p text:style-name="para">
    Thank you for asking Evolution Lawyers to act for you. We understand that you would like us to assist you with purchasing the Property.
</text:p>

<text:p text:style-name="para">We would be happy to act for you in this matter. Any service we provide to you will be subject to our standard terms, which we have provided to you previously, as varied or added to by this letter of engagement (together, the <text:span text:style-name="bold">Terms</text:span>).
</text:p>

<text:p text:style-name="para">
    {% if recipient.recipientType == 'company' %}
        Our client for this matter will be the {{ recipient.companyName }}.
    {% else %}
        Our client{% if recipient.individuals.length > 1 %}s{% endif %} for this matter will be {{ recipient.individuals|concat(['firstName', 'surname'])|join_and() }}.
    {% endif %}
</text:p>

<text:p text:style-name="el_heading">Your Matter</text:p>
<text:p text:style-name="para">
    The director of Evolution Lawyers with overall responsibility for your matter will be {{ supervisingDirector.name }}. However, the person who will be completing most of the day-to-day attendances required in your matter will be Kieran Boyle, our senior solicitor and conveyancing specialist.
</text:p>

<text:p text:style-name="para">
    If you have any enquiries about your matter, please contact Kieran in the first instance. His contact details are noted at the end of this letter.
</text:p>

<text:p text:style-name="para">
    Alternatively, if you have a simple and non-urgent administrative enquiry, please feel free to contact our administration team by email to mail@evolutionlawyers.nz. Our administration team can deal with most of the non-legal aspects of your matter and may, depending on your enquiry and the firm’s capacity at the time, be able to assist you more promptly than our legal team.
</text:p>

<text:p text:style-name="para">
    In the event you are unable to contact, or are not receiving a timely response from, Kieran or our administration team, or if you have a serious concern or complaint in connection with your matter, please contact the director.
</text:p>

<text:p text:style-name="el_heading">Our Services</text:p>

<text:p text:style-name="para">
    We will provide all legal services reasonably required to complete the conveyancing aspects of the transaction. Our engagement will be limited to that extent.
</text:p>

<text:p text:style-name="para">
    Our services may include, depending on your instructions and the circumstances of your matter:
</text:p>
