<text:p text:style-name="para">
    This list is merely a general indication of the type of services we will provide in the matter.  At this early stage, we are not able to accurately anticipate the specific attendances that will be required to complete your transaction.
</text:p>
<text:p text:style-name="para">
    We can, however, set out clearly the services that will not be provided as part of your matter, unless we agree otherwise in writing.  These excluded services are as follows:
</text:p>
<text:list text:style-name="el_numbered_list"  text:continue-numbering="false">
    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
            Taxation, commercial, or financial matters.  These are excluded under our standard Terms.  In the context of your transaction, the standard exclusions cover (without limitation) advice about the potential tax consequences of the transaction, including application of the Bright Line test, and the commercial or financial merits of the transaction.
        </text:p>
    </text:list-item>
    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
            A due diligence investigation of the Property, apart from the legal review of relevant documents as described above.  Unless you instruct us otherwise, due diligence will be your sole responsibility.
        </text:p>
    </text:list-item>
    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
            Advice and other services related to alternative ownership structures, estate planning, property sharing arrangements, and the application of the Property (Relationships) Act 1976.
        </text:p>
    </text:list-item>
</text:list>

<text:p text:style-name="para">
    If you require any of the above excluded services, please advise.  We may be able to provide the services ourselves or, if not, refer you to an independent specialist who can help.  If we agree to provide the services you request, such services will be subject to the Terms but outside the scope of the fee estimates provided in this letter.
</text:p>


<text:p text:style-name="el_heading">Our Fees, Disbursements, and Expenses</text:p>

<text:p text:style-name="para">
    Our fees will be charged and billed in accordance with the Terms.  Please see the sections headed “Our Fees”, “Estimates and Fixed Fees”, “Conveyancing Fee Estimates”, and “Disbursements and Expenses”.
</text:p>

<text:p text:style-name="para">
    Because we are not able to precisely anticipate the amount of work we will need to complete for you, we cannot provide a fixed fee or quote.  The nature of conveyancing is that, while most transactions have predictable attendances and go smoothly, every matter and client are unique, the time required to complete attendances can vary widely, and unforeseen difficulties do arise.  Due to such unpredictability, we ultimately charge by the time it takes us to complete the work required.
</text:p>