


<text:p text:style-name="para">
    If you require any of the above excluded services, please advise.  We may be able to provide the services ourselves or, if not, refer you to an independent specialist who can help.  If we agree to provide the services you request, such services will be subject to the Terms but outside the scope of the fee estimates provided in this letter.
</text:p>


<text:p text:style-name="el_heading">Our Fees, Disbursements, and Expenses</text:p>

<text:p text:style-name="para">
    Our fees will be charged and billed in accordance with the Terms.  Please see the sections headed “Our Fees”, “Estimates and Fixed Fees”, “Conveyancing Fee Estimates”, and “Disbursements and Expenses”.
</text:p>

<text:p text:style-name="para">
    Because we are not able to precisely anticipate the amount of work we will need to complete for you, we cannot provide a fixed fee or quote.  The nature of conveyancing is that, while most transactions have predictable attendances and go smoothly, every matter and client are unique, the time required to complete attendances can vary widely, and unforeseen difficulties do arise.  Due to such unpredictability, we ultimately charge by the time it takes us to complete the work required.
</text:p>