{% extends 'letter.njk' %}

{% import 'partials/macros.njk' as macros %}

{% block letterBody %}

<text:p text:outline-level="1" text:style-name="el_heading">
Letter of Engagement – Company Administration
</text:p>

<text:p text:style-name="para">
Thank you for asking Evolution Lawyers to act for {{ matter.companyName }} (<text:span text:style-name="bold">Company</text:span>). We understand that you would like us to assist the Company with its annual administration requirements under the Companies Act 1993 (<text:span text:style-name="bold">Act</text:span>).
</text:p>

<text:p text:style-name="para">
We would be happy to act for the Company in this matter.  Please find <text:span text:style-name="bold">attached</text:span> a copy of our standard terms of engagement.  Any service we provide to the Company will be subject to those standard terms, as varied or added to by this letter of engagement (together, the <text:span text:style-name="bold">Terms</text:span>).
</text:p>

<text:p text:style-name="para">
Our client for this matter will be {{ matter.companyName }}.
</text:p>


<text:p text:outline-level="1" text:style-name="el_heading">
Our Annual Service
</text:p>

<text:p text:style-name="para">
We offer the following as part of our annual company administration service:
</text:p>


  <text:list  text:style-name="el_list">
<text:list-item><text:p text:style-name="el_list_paragraph">Serving as the Company’s registered office and address for service. </text:p></text:list-item>
<text:list-item><text:p text:style-name="el_list_paragraph">Keeping the Company’s records online via CataLex® Good Companies.</text:p></text:list-item>
<text:list-item><text:p text:style-name="el_list_paragraph">Confirming the Company’s details as required to file the annual return.</text:p></text:list-item>
<text:list-item><text:p text:style-name="el_list_paragraph">Changing company, director, and shareholder addresses as necessary to file annual return.</text:p></text:list-item>
<text:list-item><text:p text:style-name="el_list_paragraph">Filing the annual return with the Companies Office.</text:p></text:list-item>
   </text:list>




<text:p text:style-name="para">
Our fee for the above attendances is fixed at $170, including disbursements and GST, for each company we are asked to administer.  The annual disbursements include the Companies Office’s annual return filing fee of $38.40 and the annual Good Companies subscription fee of $12.00, both including GST.
</text:p>
<text:p text:style-name="para">
The only disbursement not covered by the fixed fee is our mail handling charge of $5 (including GST).  We charge that disbursement for every courier or piece of mail physically delivered to us as registered office or address for service of the Company.  To limit the mail we receive, and the associated mail handling charge, we recommend the Company have an address for communication that is different from the official registered office address and address for service.
</text:p>
<text:p text:style-name="para">
Any other attendances not specifically covered by the annual service will be charged at our usual rates as set out in the Terms.
</text:p>



<text:p text:outline-level="1" text:style-name="el_heading">
Acknowledgement
</text:p>



<text:p text:style-name="para">By instructing us to act on this matter, the Company acknowledges as follows:</text:p>

  <text:list  text:style-name="el_list">
<text:list-item><text:p text:style-name="el_list_paragraph">The Company and its directors will retain primary responsibility for complying with the administrative and other requirements of the Companies Act 1993 that apply to the Company.  We will only act as agent of the Company in accordance with the board’s instructions.</text:p></text:list-item>
<text:list-item><text:p text:style-name="el_list_paragraph">The Company and its directors are responsible for the accuracy and completeness of the records we keep for the Company.  If the records we keep in Good Companies do not comply with section 189 of the Companies Act 1993, it is up to the directors to remedy that non-compliance.</text:p></text:list-item>
<text:list-item><text:p text:style-name="el_list_paragraph">If our fees for this matter, or any other matter for the Company, are not paid when due, we may, in addition to any other rights we may have, cease acting as registered office and address for service for the Company and change those addresses to the Company’s principal place of business or the last known address of a director.  We may also cancel the Company’s subscription to Good Companies. </text:p></text:list-item>
   </text:list>




<text:p text:outline-level="1" text:style-name="el_heading">
Responsibility for Your Matter
</text:p>

<text:p text:style-name="para">
I will have overall responsibility for the matter.  I will be assisted by other lawyers and staff at the firm as and when required.
</text:p>


<text:p text:outline-level="1" text:style-name="el_heading">
Disclosure of Interests
</text:p>

<text:p text:style-name="para">
We do not believe there is any conflict of interest that would prohibit us from acting for the Company in this matter.
</text:p>


<text:p text:style-name="para">
    If you have any queries about our engagement, please contact us.
</text:p>


{% endblock %}