{% extends 'letter.njk' %}

{% import 'partials/macros.njk' as macros %}

{% block automaticStyles %}
    {{ super() }}
    {% block additionalAutomaticStyles %}


        <style:style style:family="table" style:name="conveyancing_prices_table">
            <style:table-properties style:width="16cm" table:align="left"  fo:margin-bottom="0.388cm" style:may-break-between-rows="false"/>
        </style:style>
        <style:style style:family="table-column" style:name="conveyancing_prices.A">
            <style:table-column-properties style:column-width="3.5cm"/>
        </style:style>
        <style:style style:family="table-column" style:name="conveyancing_prices.B">
            <style:table-column-properties style:column-width="7.0cm"/>
        </style:style>
        <style:style style:family="table-column" style:name="conveyancing_prices.C">
            <style:table-column-properties style:column-width="2.5cm"/>
        </style:style>
        <style:style style:family="table-cell" style:name="conveyancing_prices.A1">
            <style:text-properties fo:font-size="10pt"/>
            <style:table-cell-properties   fo:border="0.05pt solid #000000" fo:padding-bottom="0.2cm" fo:padding-left="0.2cm" fo:padding-right="0.2cm" fo:padding-top="0.2cm">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>

    {% endblock %}
{% endblock %}

{% block letterBody %}

    <text:p text:outline-level="1" text:style-name="el_heading">
        Letter of Engagement - {{ matter.matterName }} (“the Property”)
    </text:p>

    <text:p text:style-name="para">
        Thank you for asking Evolution Lawyers to act for you. We understand that you would like us to assist you with refinancing the existing mortgage over the Property.
    </text:p>

    {% include 'partials/conveyancing/preamble.njk' %}


    <text:list text:style-name="el_numbered_list">
        <text:list-item>
            <text:p text:style-name="el_numbered_list_paragraph">
                requesting a discharge of the existing mortgage registered on the title to the Property and confirmation of the amount required to be paid;
            </text:p>
        </text:list-item>
        <text:list-item>
            <text:p text:style-name="el_numbered_list_paragraph">
                receiving, reviewing, and preparing the documents required by the new mortgagee;
            </text:p>
        </text:list-item>
        <text:list-item>
            <text:p text:style-name="el_numbered_list_paragraph">
                dealing with third parties involved in the transaction, such as mortgage brokers and financial institutions, as necessary to complete your instructions;
            </text:p>
        </text:list-item>
        <text:list-item>
            <text:p text:style-name="el_numbered_list_paragraph">
                preparing for and attending a document signing meeting at which documents required for the transaction will be explained and executed;
            </text:p>
        </text:list-item>
        <text:list-item>
            <text:p text:style-name="el_numbered_list_paragraph">
                sending documents to new mortgagee and requesting draw down of the new loan funds;
            </text:p>
        </text:list-item>
        <text:list-item>
            <text:p text:style-name="el_numbered_list_paragraph">
                receiving and paying out funds in connection with the matter via our trust account;
            </text:p>
        </text:list-item>
        <text:list-item>
            <text:p text:style-name="el_numbered_list_paragraph">
                effecting the discharge of the existing mortgage and registration of a new mortgage in Landonline; and
            </text:p>
        </text:list-item>
        <text:list-item>
            <text:p text:style-name="el_numbered_list_paragraph">
                all other attendances that you have instructed us to complete or are reasonably required in connection with the above.
            </text:p>
        </text:list-item>

    </text:list>

    <text:p text:style-name="para">
        This list is merely a general indication of the type of services we will provide in the matter.
    </text:p>
    <text:p text:style-name="para">
        We can, however, set out clearly the services that will not be provided as part of your matter, unless we agree otherwise in writing.  These excluded services are as follows:
    </text:p>
    <text:list text:style-name="el_numbered_list"  text:continue-numbering="false">
        <text:list-item>
            <text:p text:style-name="el_numbered_list_paragraph">
                Taxation, commercial, or financial matters.  These are excluded under our standard Terms.
            </text:p>
        </text:list-item>
        <text:list-item>
            <text:p text:style-name="el_numbered_list_paragraph">
                Advice and other services related to alternative ownership structures, estate planning, property sharing arrangements, and the application of the Property (Relationships) Act 1976.
            </text:p>
        </text:list-item>
    </text:list>
    {% include 'partials/conveyancing/services_explanation.njk' %}

    <text:p text:style-name="el_subheading">Fee Estimates</text:p>

    <text:p text:style-name="para">
        The best indication we can offer are fee estimates, which we provide below.  All such fee estimates are stated exclusive of GST, disbursements, and expenses.
    </text:p>

    <text:p text:style-name="para">
        Our standard fee estimate for a property refinance conveyance is <text:span text:style-name="bold">$700.00</text:span>.  Importantly, this estimate:
    </text:p>


    <text:list text:style-name="el_numbered_list" text:continue-numbering="false">
        <text:list-item>
            <text:p text:style-name="el_numbered_list_paragraph">
                assumes a straightforward matter. In general terms, our standard estimate includes only those attendances that we anticipate would usually be required in a basic refinance matter; and
            </text:p>
        </text:list-item>
        <text:list-item>
            <text:p text:style-name="el_numbered_list_paragraph">
                does not consider the unique circumstances of your matter. Because we are legally obliged to send this letter of engagement to you before we commence work on your matter, and wish to start acting as soon as possible, we have not had sufficient time to prepare a matter-specific fee estimate.
            </text:p>
        </text:list-item>
    </text:list>

    <text:p text:style-name="para">
        The following attendances are excluded from the above standard fee estimates:</text:p>


    <table:table table:name="conveyancing_prices" table:style-name="conveyancing_prices_table">
        <table:table-column table:style-name="conveyancing_prices.A"/>
        <table:table-column table:style-name="conveyancing_prices.B"/>
        <table:table-column table:style-name="conveyancing_prices.C"/>

        <table:table-row>
            <table:table-cell office:value-type="string" table:style-name="conveyancing_prices.A1">
                <text:p>
                    <text:span text:style-name="bold">Name</text:span>
                </text:p>
            </table:table-cell>
            <table:table-cell office:value-type="string" table:style-name="conveyancing_prices.A1">
                <text:p>
                    <text:span text:style-name="bold">Description</text:span>
                </text:p>
            </table:table-cell>
            <table:table-cell office:value-type="string" table:style-name="conveyancing_prices.A1">
                <text:p>
                    <text:span text:style-name="bold">Fee Estimate</text:span>
                </text:p>
            </table:table-cell>
        </table:table-row>

        <table:table-row>
            <table:table-cell office:value-type="string" table:style-name="conveyancing_prices.A1">
                <text:p>
                    Trust/Company
                </text:p>
            </table:table-cell>
            <table:table-cell office:value-type="string" table:style-name="conveyancing_prices.A1">
                <text:p>
                    Preparing and attending to execution of additional documents for entry into transaction by trust or company
                </text:p>
            </table:table-cell>
            <table:table-cell office:value-type="string" table:style-name="conveyancing_prices.A1">
                <text:p>
                    $165
                </text:p>
            </table:table-cell>
        </table:table-row>

        <table:table-row>
            <table:table-cell office:value-type="string" table:style-name="conveyancing_prices.A1">
                <text:p>
                    Additional Loan Documents
                </text:p>
            </table:table-cell>
            <table:table-cell office:value-type="string" table:style-name="conveyancing_prices.A1">
                <text:p>
                    Reviewing and attending to execution of additional documents required by mortgagee (beyond the two loan agreements anticipated by the standard estimate)
                </text:p>
            </table:table-cell>
            <table:table-cell office:value-type="string" table:style-name="conveyancing_prices.A1">
                <text:p>
                    $110 per document
                </text:p>
            </table:table-cell>
        </table:table-row>

        <table:table-row>
            <table:table-cell office:value-type="string" table:style-name="conveyancing_prices.A1">
                <text:p>
                    Additional Correspondence
                </text:p>
            </table:table-cell>
            <table:table-cell office:value-type="string" table:style-name="conveyancing_prices.A1">
                <text:p>
                    Receiving, considering, and responding to correspondence from you or third parties such as agents, brokers, and solicitors (beyond the amount normally anticipated for a purchase)
                </text:p>
            </table:table-cell>
            <table:table-cell office:value-type="string" table:style-name="conveyancing_prices.A1">
                <text:p>
                    At time - $165 per hour
                </text:p>
            </table:table-cell>
        </table:table-row>


    </table:table>
    <text:p></text:p>

    {% include 'partials/conveyancing/last_paragraphs.njk' %}

{% endblock %}