{% extends 'letter.njk' %}

{% import 'partials/macros.njk' as macros %}

{% block letterBody %}

<text:h text:outline-level="1" text:style-name="el_heading">
    <text:span>File Closing Letter - {{ matter.name }}</text:span>
</text:h>

<text:p text:style-name="para">
It has been a pleasure to serve as your counsel with regard to the above matter.  Now that {{ matter.reason }}, we understand that no further legal services are required.  Unless otherwise instructed, we will take no further action in connection with the matter and proceed to close our file.
</text:p>

{% if documents %}

<text:p text:style-name="para">
We will keep the following original documents in our deeds system for safe-keeping:
</text:p>

<text:list text:style-name="el_numbered_list">
    {% for doc in documents %}
        <text:list-item>
            <text:p text:style-name="el_numbered_list_paragraph">
                <text:span >{{ doc.name }}</text:span>
            </text:p>
        </text:list-item>
    {% endfor %}
</text:list>
<text:p text:style-name="para">
If you require access to these documents or wish to store them yourself, please let us know.
</text:p>
{% endif %}

<text:p text:style-name="para">
Thank you for your instructions.  Please get in touch if you need legal services in the future.  We would be happy to help.
</text:p>

{% endblock %}