{% extends 'letter.njk' %}

{% import 'partials/macros.njk' as macros %}

{% block letterBody %}

<text:p text:outline-level="1" text:style-name="el_heading">
    <text:span>File Closing Letter - {{ matter.name }}</text:span>
</text:p>

<text:p text:style-name="para">
It has been our pleasure to serve as your solicitors in the above matter.  Now that {{ matter.reason }}, we understand that no further legal services are required.  Unless otherwise instructed, we will take no further action in connection with the matter and proceed to close our file.
</text:p>

{% if documents %}

<text:p text:style-name="para">
We <text:span text:style-name="bold">enclose</text:span> the following documents, for your records:
</text:p>

<text:list text:style-name="el_numbered_list">
    {% for doc in documents %}
        <text:list-item>
            <text:p text:style-name="el_numbered_list_paragraph">
                <text:span >{{ doc.name }}</text:span>
            </text:p>
        </text:list-item>
    {% endfor %}
</text:list>

{% endif %}

<text:p text:style-name="para">
Thank you for your instructions.  Please get in touch if you need legal services in the future.  We would be happy to help.
</text:p>

{% endblock %}