{% extends 'letter.njk' %}

{% import 'partials/macros.njk' as macros %}

{% block letterBody %}

<text:p text:outline-level="1" text:style-name="el_heading">
    <text:span>{{ caseName }}</text:span>
</text:p>

<text:p text:style-name="para">
    We <text:span text:style-name="bold">enclose</text:span>, for filing in the above matter, the following documents:
</text:p>

<text:list text:style-name="el_numbered_list">
    {% for doc in documents %}
        <text:list-item>
            <text:p text:style-name="el_numbered_list_paragraph">
                <text:span >{{ doc.name }}</text:span>
            </text:p>
        </text:list-item>
    {% endfor %}
</text:list>

<text:p text:style-name="para">
    <text:span>We also </text:span><text:span text:style-name="bold">enclose</text:span><text:span> our cheque for {{ filingFee.amount|currency }}, being the required filing fee.</text:span>
</text:p>

{% endblock %}