{% extends 'letter.njk' %}

{% import 'partials/macros.njk' as macros %}
{% block salutation %}To: {% endblock %}

{% block letterBody %}
  <text:p text:style-name="para"/>

{% if recipient.companyName === 'Westpac KiwiSaver Scheme' %}
    {% include "kiwisaver_withdrawal_request_letter/westpac.njk" %}
{% endif %}


{% if recipient.companyName === 'Generate KiwiSaver Scheme' %}

    {% include "kiwisaver_withdrawal_request_letter/generate.njk" %}

{% endif %}


{% if recipient.companyName === 'ANZ New Zealand Investments Limited' %}

    {% include "kiwisaver_withdrawal_request_letter/anz.njk" %}

{% endif %}


{% if recipient.companyName === 'AMP KiwiSaver Scheme' %}

    {% include "kiwisaver_withdrawal_request_letter/amp.njk" %}

{% endif %}

{% if recipient.companyName === 'BNZ Investment Services Limited' %}

    {% include "kiwisaver_withdrawal_request_letter/bnz.njk" %}

{% endif %}



  <text:p text:style-name="para_keep_with_next">
I confirm that I hold a current practising certificate issued under the Lawyers and Conveyancers Act 2006.
  </text:p>

{% endblock %}

