{% extends 'letter.njk' %}

{% import 'partials/macros.njk' as macros %}



{% block letterBody %}

<text:p text:outline-level="1" text:style-name="el_heading">
{{ matter.matterName}}
</text:p>
<text:p text:style-name="para">
We refer to your letter of instructions, dated {{ dateOfInstructions }}.  We confirm we accept your instructions to act for {{ macros.fullNames(recipient) }} in the {% if multipleBorrowers %}Borrowers’{% else %}Borrower{% endif %} {{ matter.conveyancing.matterType }} {{  matter.conveyancing.matterType }} of the Property.
</text:p>

<text:p text:style-name="para">
In accordance with your instructions, please find <text:span text:style-name="bold">attached</text:span> the following documents:

</text:p>

<text:list text:style-name="el_numbered_list">
    {% for document in documents %}
    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
        {% if document.documentName === 'Guaranteed search of Unique Identifier [Unique Identifier], [Registry] registry' %}
            <text:span >Guaranteed search of Unique Identifier {{ uniqueIdentifier }}, {{ registry }}  registry</text:span>
        {% else %}
            <text:span >{{ document.documentName }}</text:span>
        {% endif %}

        </text:p>
    </text:list-item>

    {% endfor %}


</text:list>

<text:p text:style-name="para">
Please credit the sum of {{ loanAmount|currency }} to our trust account as early as possible today by <text:span text:style-name="bold">Same Day Cleared Payment</text:span>.
</text:p>


{% endblock %}