{% extends 'letter.njk' %}

{% import 'partials/macros.njk' as macros %}

{% block letterBody %}

<text:p text:outline-level="1" text:style-name="el_heading">
{{ purchaserNames|join_and('name') }}{% if purchaserNames|length == 1 %} (“the Borrower”) {% else %} (“the Borrowers”) {% endif %}–  {{ matter.letterFinancier.matterType|title }} of {{ matter.assets|join_and('address') }} {% if matter.assets|length == 1 %} ("the Property”) {% else %} (“the Properties”) {% endif %}
</text:p>
<text:p text:style-name="para">
We <text:span text:style-name="bold">enclose</text:span> the following original documents in connection with the {% if purchaserNames|length == 1 %}Borrower's{% else %}Borrowers'{% endif %}  {{ matter.letterFinancier.matterType|title }} of the {% if matter.assets|length == 1 %}Property{% else %}Properties{% endif %}:
</text:p>

<text:list text:style-name="el_numbered_list">
    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
Facility agreement, dated {{ facilityAgreementDate }}.
        </text:p>
    </text:list-item>

    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
Solicitor’s certificate, dated {{ solicitorCertDate }}.
        </text:p>
    </text:list-item>

   {% for document in newMortgageeDocuments %}
   {% if document.sentToBank %}
    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
            <text:span >{{ document.documentName }}{% if document.documentDate %}, dated {{ document.documentDate }}{% endif %}.</text:span>
        </text:p>
    </text:list-item>
    {% endif %}
    {% endfor %}


</text:list>
{% endblock %}

