{% extends 'letter.njk' %}

{% import 'partials/macros.njk' as macros %}
{% block automaticStyles %}
    {{ super() }}
    {% block additionalAutomaticStyles %}


        <style:style style:family="table" style:name="trust_account_table">
            <style:table-properties style:width="16cm" table:align="left"/>
        </style:style>
        <style:style style:family="table-column" style:name="trust_account_table.A">
            <style:table-column-properties style:column-width="3.5cm"/>
        </style:style>
        <style:style style:family="table-column" style:name="trust_account_table.B">
            <style:table-column-properties style:column-width="7.0cm"/>
        </style:style>
        <style:style style:family="table-column" style:name="trust_account_table.C">
            <style:table-column-properties style:column-width="2.5cm"/>
        </style:style>
        <style:style style:family="table-column" style:name="trust_account_table.D">
            <style:table-column-properties style:column-width="2.5cm"/>
        </style:style>
        <style:style style:family="table-cell" style:name="trust_account_table.top_border">
            <style:table-cell-properties fo:background-color="transparent" fo:border-top="0.05pt solid #000000" fo:border-left="none" fo:border-right="none" fo:border-bottom="none" fo:padding-bottom="0.6cm" fo:padding-left="0cm" fo:padding-right="0.6cm" fo:padding-top="0.101cm">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>

        <style:style style:family="table-cell" style:name="trust_account_table.bottom_border">
            <style:table-cell-properties fo:background-color="transparent" fo:border-bottom="0.05pt solid #000000" fo:border-left="none" fo:border-right="none" fo:border-top="none" fo:padding-bottom="0.6cm" fo:padding-left="0cm" fo:padding-right="0.6cm" fo:padding-top="0.101cm">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>


        <style:style style:family="table-cell" style:name="trust_account_table.no_border">
            <style:table-cell-properties fo:background-color="transparent" fo:border="none" fo:padding-bottom="0.6cm" fo:padding-left="0cm" fo:padding-right="0.6cm" fo:padding-top="0.101cm">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>

         <style:style style:family="paragraph" style:name="column_right">
             <style:paragraph-properties fo:text-align="right"  />
        </style:style>


    {% endblock %}
{% endblock %}



{% block letterBody %}

<text:p text:outline-level="1" text:style-name="el_heading">
    <text:span>{{ matter.matterName }}</text:span>
</text:p>

<table:table table:name="table" table:style-name="trust_account_table">
    <table:table-column table:style-name="trust_account_table.A"/>
    <table:table-column table:style-name="trust_account_table.B"/>
    <table:table-column table:style-name="trust_account_table.C"/>
    <table:table-column table:style-name="trust_account_table.D"/>


    <table:table-row>
        <table:table-cell office:value-type="string" table:style-name="trust_account_table.bottom_border">
            <text:p><text:span text:style-name="bold">Date</text:span>
        </text:p>
        </table:table-cell>
        <table:table-cell office:value-type="string" table:style-name="trust_account_table.bottom_border">
            <text:p >
               <text:span text:style-name="bold">Description</text:span>
            </text:p>
        </table:table-cell>
        <table:table-cell office:value-type="string" table:style-name="trust_account_table.bottom_border">
            <text:p >
               <text:span text:style-name="bold">Receipts</text:span>
            </text:p>
        </table:table-cell>
        <table:table-cell office:value-type="string" table:style-name="trust_account_table.bottom_border">
            <text:p >
               <text:span text:style-name="bold">Payments</text:span>
            </text:p>
        </table:table-cell>
    </table:table-row>


{% for payment in payments %}

    <table:table-row>
        <table:table-cell office:value-type="string" table:style-name="trust_account_table.no_border">
            <text:p>
                {{ payment.date }}
            </text:p>
        </table:table-cell>
        <table:table-cell office:value-type="string" table:style-name="trust_account_table.no_border">
            <text:p>
                {{ payment.description }}
            </text:p>
        </table:table-cell>
        <table:table-cell office:value-type="string" table:style-name="trust_account_table.no_border">
            <text:p>
            </text:p>
        </table:table-cell>
        <table:table-cell office:value-type="string" table:style-name="trust_account_table.no_border">
            <text:p>

                {{ payment.amount|currency }}
            </text:p>
        </table:table-cell>
    </table:table-row>

{% endfor %}

{% for receipt in receipts %}
    <table:table-row>
        <table:table-cell office:value-type="string" table:style-name="trust_account_table.no_border">
            <text:p>
                {{ receipt.date }}
            </text:p>
        </table:table-cell>
        <table:table-cell office:value-type="string" table:style-name="trust_account_table.no_border">
            <text:p>
                {{ receipt.description }}
            </text:p>
        </table:table-cell>
        <table:table-cell office:value-type="string" table:style-name="trust_account_table.no_border">
            <text:p>
                {{ receipt.amount|currency }}

            </text:p>
        </table:table-cell>
        <table:table-cell office:value-type="string" table:style-name="trust_account_table.no_border">
            <text:p>
            </text:p>
        </table:table-cell>
    </table:table-row>
{% endfor %}


    <table:table-row>
        <table:table-cell office:value-type="string" table:style-name="trust_account_table.top_border">
            <text:p>

            </text:p>
        </table:table-cell>
        <table:table-cell office:value-type="string" table:style-name="trust_account_table.top_border">
            <text:p>

            </text:p>
        </table:table-cell>
        <table:table-cell office:value-type="string" table:style-name="trust_account_table.top_border">
            <text:p >
                <text:span text:style-name="bold">{{ totalReceipts|currency }}</text:span>
            </text:p>
        </table:table-cell>
        <table:table-cell office:value-type="string" table:style-name="trust_account_table.top_border">
            <text:p >
               <text:span text:style-name="bold"> {{ totalPayments|currency }}</text:span>
            </text:p>
        </table:table-cell>
    </table:table-row>

</table:table>

{% endblock %}

