{% extends 'letter.njk' %}

{% import 'partials/macros.njk' as macros %}

{% block letterBody %}

<text:h text:outline-level="1" text:style-name="el_heading">
    <text:span>{{ vendorNames|join_and('name') }} to {{ purchaserNames|join_and('name') }} – {{ matter.assets|join_and('address') }}</text:span>
</text:h>

<text:p text:style-name="para">
   <text:span>
We refer to the above transaction, which is due to settle on {{ settlementDate }}.  In anticipation of settlement, we attach the following:
</text:span>
</text:p>


<text:p text:style-name="para">
   <text:span>We </text:span><text:span text:style-name="bold">attach</text:span><text:span> unique identifier {{ matter.assets[0].uniqueIdentifier }}, {{ matter.assets[0].
registry }} registry, for the Property. Please forward to us, prior to the settlement date, the following:
</text:span>
</text:p>

<text:list text:style-name="el_numbered_list">

    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
            <text:span >Our settlement statement as at {{ settlementDate }}</text:span>
        </text:p>
    </text:list-item>

    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
            <text:span >Our trust account deposit slip. </text:span>
        </text:p>
    </text:list-item>
    <text:list-item>
        <text:p text:style-name="el_numbered_list_paragraph">
            <text:span >Our settlement requirements. </text:span>
        </text:p>
    </text:list-item>
</text:list>

<text:p text:style-name="para">
    <text:span>We will provide the required undertakings prior to settlement.</text:span>
</text:p>

{% endblock %}

