{% extends 'letter.njk' %}

{% import 'partials/macros.njk' as macros %}
{% block automaticStyles %}

{{ super() }}
{% block additionalAutomaticStyles %}


        <style:style style:family="table" style:name="settlement_table">
            <style:table-properties style:width="16cm" table:align="left"/>
        </style:style>
        <style:style style:family="table-column" style:name="settlement_table.A">
            <style:table-column-properties style:column-width="11cm"/>
        </style:style>
        <style:style style:family="table-column" style:name="settlement_table.B">
            <style:table-column-properties style:column-width="2.5cm"/>
        </style:style>
        <style:style style:family="table-column" style:name="settlement_table.C">
            <style:table-column-properties style:column-width="2.5cm"/>
        </style:style>
        <style:style style:family="table-cell" style:name="settlement_table.A1">
            <style:table-cell-properties fo:background-color="transparent" fo:border-bottom="0.05pt solid #000000" fo:border-left="none" fo:border-right="none" fo:border-top="0.05pt solid #000000" fo:padding-bottom="0.6cm" fo:padding-left="0cm" fo:padding-right="0cm" fo:padding-top="0.101cm">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>
        <style:style style:family="table-cell" style:name="settlement_table.A1">
            <style:table-cell-properties fo:background-color="transparent" fo:border="none" fo:padding-bottom="0.6cm" fo:padding-left="0cm" fo:padding-right="0cm" fo:padding-top="0.101cm">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>
        <style:style style:family="table-cell" style:name="settlement_table.A1">
            <style:table-cell-properties fo:background-color="transparent" fo:border-bottom="0.05pt solid #000000" fo:border-left="none" fo:border-right="none" fo:border-top="none" fo:padding-bottom="0.6cm" fo:padding-left="0cm" fo:padding-right="0cm" fo:padding-top="0.101cm">
                <style:background-image/>
            </style:table-cell-properties>
        </style:style>

         <style:style style:family="paragraph" style:name="column_right">
             <style:paragraph-properties fo:text-align="right"  />
        </style:style>


{% endblock %}






{% endblock %}

    {% block careOf %}
        {% if purchaser.recipientType == 'company' %}
                <text:p>{{ purchaser.companyName }}</text:p>
            {% elif purchaser.individuals %}
            {% for individual in purchaser.individuals %}
                    <text:p>{{ individual.firstName }} {{individual.surname }}</text:p>
            {% endfor %}
        {% endif %}

        {% if recipient.recipientType == 'company' %}
                <text:p>C/- {{ recipient.companyName }}</text:p>
            {% elif recipient.individuals %}
            {% for individual in recipient.individuals %}
                    <text:p>C/- {{ individual.firstName }} {{individual.surname }}</text:p>
            {% endfor %}
        {% endif %}
    {% endblock %}


{% block letterBody %}
<text:p text:outline-level="1" text:style-name="el_heading">
    <text:span>{{ matter.matterName }}</text:span>
</text:p>

<text:p text:outline-level="1" text:style-name="el_heading">
    <text:span>Description</text:span>
</text:p>

<table:table table:name="table" table:style-name="settlement_table">
    <table:table-column table:style-name="settlement_table.A"/>
    <table:table-column table:style-name="settlement_table.B"/>
    <table:table-column table:style-name="settlement_table.C"/>
    <table:table-row>
        <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
            <text:p>Purchase Price</text:p>
        </table:table-cell>
        <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
            <text:p text:style-name="column_right">
                {{purchaseAmount|currency }}
            </text:p>
        </table:table-cell>
        <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
            <text:p text:style-name="column_right"/>
        </table:table-cell>
    </table:table-row>


    {% if depositAmount %}
         <table:table-row>
            <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
                <text:p text:style-name="para">Deposit</text:p>
            </table:table-cell>
            <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
                <text:p text:style-name="column_right"/>
            </table:table-cell>
            <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
                <text:p text:style-name="column_right">
                    {{ depositAmount|currency }}
                </text:p>
            </table:table-cell>
        </table:table-row>
    {% endif %}


{% for item in calculatedRatesAndApportionments %}
    <table:table-row>
    {% if item.type === 'rate' %}
            <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
                <text:p text:style-name="para">{{ item.description }}</text:p>
            </table:table-cell>
            <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
                <text:p text:style-name="column_right">
                    {{ item.amount|currency }}
                </text:p>
            </table:table-cell>
            <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
                <text:p text:style-name="column_right">
                </text:p>
            </table:table-cell>
    {% else %}
            <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
                <text:p text:style-name="para">Allowance for {{ item.description }} at {{ item.periodAmount|currency }} per annum for the period from {{ item.startDate }} to {{ settlementDate }} ({{ item.days }} days)  </text:p>
            </table:table-cell>
            <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
                <text:p text:style-name="column_right">
                </text:p>
            </table:table-cell>
            <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
                <text:p text:style-name="column_right">
                    {{ item.amount|currency }}
                </text:p>
            </table:table-cell>
    {% endif %}
    </table:table-row>


{% endfor %}

{% if totalReceipts < totalPayments %}


    <table:table-row>
        <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
                  <text:p text:style-name="column_right">
                <text:span text:style-name="bold">Balance required to settle</text:span>

            </text:p>
        </table:table-cell>

        <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
             <text:p text:style-name="column_right">
                <text:span text:style-name="bold">{{ (totalPayments - totalReceipts)|currency }}</text:span>

            </text:p>
        </table:table-cell>
        <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
            <text:p>
            </text:p>
        </table:table-cell>
    </table:table-row>

    <table:table-row>
        <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
            <text:p>

            </text:p>
        </table:table-cell>

        <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
            <text:p text:style-name="column_right">
               {{ totalPayments|currency }}
            </text:p>
        </table:table-cell>
        <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
            <text:p text:style-name="column_right">
              {{ totalPayments|currency }}
            </text:p>
        </table:table-cell>
    </table:table-row>

</table:table>
  <text:p text:style-name="para"/>
  <text:p text:style-name="para">
    We undertake that the rates have been or will be paid as set out above on settlement.
</text:p>

{% elif totalReceipts > totalPayments %}

    <table:table-row>
        <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
                  <text:p text:style-name="column_right">

                <text:span text:style-name="bold">Balance required to settle</text:span>
            </text:p>
        </table:table-cell>

        <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
            <text:p>

            </text:p>
        </table:table-cell>
        <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
           <text:p text:style-name="column_right">
                <text:span text:style-name="bold">{{ (totalReceipts  - totalPayments )|currency }}</text:span>
            </text:p>
        </table:table-cell>
    </table:table-row>

    <table:table-row>
        <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
            <text:p>

            </text:p>
        </table:table-cell>

        <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
            <text:p text:style-name="column_right">
                {{ totalReceipts|currency }}
            </text:p>
        </table:table-cell>
        <table:table-cell office:value-type="string" table:style-name="settlement_table.A1">
            <text:p text:style-name="column_right">
               {{ totalReceipts|currency }}
            </text:p>
        </table:table-cell>
    </table:table-row>
</table:table>
  <text:p text:style-name="para"/>
  <text:p text:style-name="keep_with_next">
    We undertake that the
{% if bodyCorporateLevyIncluded and rentIncluded %}
    rates, body corporate levies, and rent
{% elif bodyCorporateLevyIncluded %}
    rates and body corporate levies

{% elif rentIncluded %}
    rates and rent
{% else %}
    rates
{% endif %}
    have been or will be paid as set out above on settlement.

{% if waterMetered %}
A final water meter reading has been arranged and the account will be paid as at the settlement date.
{% endif %}
</text:p>
{% endif %}



{% endblock %}

